<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'travel_app/css/style.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text|Tangerine" rel="stylesheet">
</head>
<body>
    <div class="container">

        <div class="Menu navbar navbar-light">
            <div class="mb-0">Travel Planner</div>
            <div class="float-right"><a href="/logout">Logout!</a></div>
        </div>
        <h1 class="Heading mt-3">Hello, {{ request.session.logged_in_user_name }}!</h1>
        <p class="Markazi-md">Your Trip Schedules:</p>
        <table class="Trip-table table border">
            <tr>
                <th>Destination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Plan</th>
            </tr>
            {% for trip in this_user_trips %} 
            <tr>
                <td><a href="/travels/destination/{{ trip.id }}">{{ trip.destination }}</a></td>
                <td>{{ trip.travel_start_date }}</td>
                <td>{{ trip.travel_end_date }}</td>
                <td>{{ trip.plan }}</td>
            </tr>
            {% endfor %}
        </table>
        <p class="Markazi-md">Other Users' Travel Plans:</p>
        <table class="Trip-table table border">
            <tr>
                <th>Name</th>
                <th>Destination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Do you want to join?</th>
            </tr>
            {% for trip in all_trips_ex_user %} 
            <tr>
                <td>{{ trip.planned_by.name }}</td>
                <td><a href="/travels/destination/{{ trip.id }}">{{ trip.destination }}</a></td>
                <td>{{ trip.travel_start_date }}</td>
                <td>{{ trip.travel_start_date }}</td>
                <td><a href="/travels/join/{{ trip.id }}">Join</a></td> 
            </tr>
            {% endfor %}
        </table>
        <div class="text-center"><a class="Markazi-md" href="/travels/add/">Add Travel Plan!</a></div> 


    </div>
</body>
</html>
